[submodule "autoexporter"]
	path = autoexporter
	url = https://github.com/tfausak/autoexporter.git
[submodule "burrito"]
	path = burrito
	url = https://github.com/tfausak/burrito.git
[submodule "cabal-gild"]
	path = cabal-gild
	url = https://github.com/tfausak/cabal-gild.git
[submodule "flow"]
	path = flow
	url = https://github.com/tfausak/flow.git
[submodule "github-release"]
	path = github-release
	url = https://github.com/tfausak/github-release.git
[submodule "imp"]
	path = imp
	url = https://github.com/tfausak/imp.git
[submodule "json-feed"]
	path = json-feed
	url = https://github.com/tfausak/json-feed.git
[submodule "lackey"]
	path = lackey
	url = https://github.com/tfausak/lackey.git
[submodule "patrol"]
	path = patrol
	url = https://github.com/tfausak/patrol.git
[submodule "rampart"]
	path = rampart
	url = https://github.com/tfausak/rampart.git
[submodule "ratel"]
	path = ratel
	url = https://github.com/tfausak/ratel.git
[submodule "ratel-wai"]
	path = ratel-wai
	url = https://github.com/tfausak/ratel-wai.git
[submodule "salve"]
	path = salve
	url = https://github.com/tfausak/salve.git
[submodule "saturn"]
	path = saturn
	url = https://github.com/tfausak/saturn.git
[submodule "strive"]
	path = strive
	url = https://github.com/tfausak/strive.git
[submodule "witch"]
	path = witch
	url = https://github.com/tfausak/witch.git
[submodule "wuss"]
	path = wuss
	url = https://github.com/tfausak/wuss.git
