[submodule "autoexporter"]
	path = autoexporter
	url = https://github.com/tfausak/autoexporter.git
[submodule "derulo"]
	path = derulo
	url = https://github.com/tfausak/derulo.git
[submodule "flow"]
	path = flow
	url = https://github.com/tfausak/flow.git
[submodule "github-release"]
	path = github-release
	url = https://github.com/tfausak/github-release.git
[submodule "json-feed"]
	path = json-feed
	url = https://github.com/tfausak/json-feed.git
[submodule "lackey"]
	path = lackey
	url = https://github.com/tfausak/lackey.git
[submodule "list-singleton"]
	path = list-singleton
	url = https://github.com/tfausak/list-singleton.git
[submodule "ratel"]
	path = ratel
	url = https://github.com/tfausak/ratel.git
[submodule "ratel-wai"]
	path = ratel-wai
	url = https://github.com/tfausak/ratel-wai.git
[submodule "rattletrap"]
	path = rattletrap
	url = https://github.com/tfausak/rattletrap.git
[submodule "salve"]
	path = salve
	url = https://github.com/tfausak/salve.git
[submodule "strive"]
	path = strive
	url = https://github.com/tfausak/strive.git
[submodule "wuss"]
	path = wuss
	url = https://github.com/tfausak/wuss.git
[submodule "rampart"]
	path = rampart
	url = https://github.com/tfausak/rampart.git
[submodule "burrito"]
	path = burrito
	url = https://github.com/tfausak/burrito.git
[submodule "splint"]
	path = splint
	url = https://github.com/tfausak/splint.git
[submodule "witch"]
	path = witch
	url = https://github.com/tfausak/witch.git
[submodule "caerbannog"]
	path = caerbannog
	url = https://github.com/tfausak/caerbannog.git
